[user]
	email = oren@desk.com
	name = Oren Dobzinski
[color]
	status = auto
	diff = auto
	branch = auto
[alias]
	st = status
  	co = checkout
  	ci = commit
  	br = branch
  	cp = cherry-pick
  	dt = difftool
  	mt = mergetool
  	rso = remote show origin
  	ll = log --pretty=format:'%Cred%h %Cblue%an %Cgreen%s%Creset %ar' --abbrev-commit -n15
  	pp = !git down && git push
  	pull-ff = pull --ff-only

  	down = !sh -c 'CURRENT=$(git symbolic-ref HEAD | sed -e s@.*/@@) \
      && (git pull --ff-only || (git fetch origin && git rebase --preserve-merges origin/$CURRENT))'

    bugfix-startpoint = "!f() { if [ $# -lt 2 ]; then echo 'usage: git bugfix-startpoint <branch> <branch> ...' >&2; exit 1; fi; git merge-base --octopus --all $@;  }; f"

    publish = "!f() { if [ $# -ne 1 ]; then echo 'usage: git publish <local-branch-name>' >&2; exit 1; fi; git push --set-upstream origin $1:$1; }; f"
  
    unpublish = "!f() { if [ $# -ne 1 ]; then echo 'usage: git unpublish <remote-branch-name>' >&2; exit 1; fi; git push origin :$1; }; f"

    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; gvim `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

    diff-branch = !git diff $(git merge-base HEAD master)

  # Fancy logging.
    #   h = head
    #   hp = head with patch
    #   r = recent commits, only current branch
    #   ra = recent commits, all reachable refs
    #   l = all commits, only current branch
    #   la = all commits, all reachable refs
    head = !git l -1
    h = !git head
    hp = "!source ~/.githelpers && show_git_head"
    r = !git l -30
    ra = !git r --all
    l = "!source ~/.githelpers && pretty_git_log"
    la = !git l --all

	[diff]
	tool = diffmerge
	[merge]
	 tool = diffmerge
	[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
	[mergetool "diffmerge"]
	 cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	[mergetool]
	 keepBackup = false
[branch]
	autosetuprebase = never
[remote "origin"]	
	push = HEAD
[giggle]
	main-window-maximized = false
	main-window-geometry = 1540x917+90+63
	file-view-vpane-position = 590
	file-view-hpane-position = 342
	history-view-vpane-position = 591
	main-window-view = FileView
[core]
        excludesfile = "/Users/orend/.gitignore"
	editor = subl -w
